* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.background_black {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

section {
  padding-left: 230px;
}

section .content .heading {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 3px solid #c2c2c2;
  padding: 15px 10px;
  margin-bottom: 15px;
}

section .content .container {
  width: 90%;
  margin: 0 auto;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
  }
  header {
    right: -230px;
  }

  header .logo {
    display: none;
  }

  section {
    padding-left: 0;
  }
  section .content {
    padding-top: 45px;
  }

  section .mobile_header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
